:root {
    --body-font-color: black;
    --button-border-dark: #9b6f1d;
    --button-border-light: #d5a350;
    --accent-color: #99c;
    --body-background: rgba(255, 204, 153, .5);
    --body-font-family: circe-rounded, sans-serif;
    --link-color: #005700;
    --link-visited: #363;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--body-background);
    font-family: var(--body-font-family);
    font-weight: 300;
    font-style: normal;
    color: var(--body-font-color);
    padding: 0;
    margin: 70px 0 100px 0%;
}

#root {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 95%;
    margin-bottom: 5%
}

.title {
    font-family: dolly-small-caps-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 0;
}

.content {
    width: 80%;
    height: 80%;
}

h1, h2, h3, h4 {
    font-family: circe-slab-a, serif;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited)
}

a:hover {
    text-decoration: underline;
}


.thumbnails, .modal-image>img {
    max-width: 300px;
    margin: 30px;
}

input, textarea {
    border-radius: 5px;
    background-color: white;
    width: 100%;
    max-width: 100%;
    font-family: var(--body-font-family);
    font-weight: 300;
    font-style: normal;
    color: var(--body-font-color);
}

input:focus, textarea:focus {
    border: 3px solid var(--link-color);
}

.placeholder {
    width: 100%;
    height: 75vh;
}

.splash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: 50%;
    background: url("https://www.denisepli.com/wildr/images/30.JPG") center no-repeat;
    background-size: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.splash-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: white;
    border: 5px solid white;
    border-radius: 5%;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 30vw;
    font-size: 20px;

}

.crud-link {
    padding-right: 20px;
}

.image-browser {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

.image-detail {
    width: 100%;

}

.footer {
    background-color: var(--body-background);
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
}
