nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--body-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


div.logo {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-items > img {
    vertical-align: middle;
}

div.logo > h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}
